<span class="ic-icon" {{#if label}}aria-label="{{label}}" {{/if}}>
    <i class="fa-{{icon}} fa-fw {{#if style}}{{style}}{{else}}far{{/if}} {{#if size}}fa-{{size}}{{/if}} {{#if spin}}fa-spin{{/if}}"
        {{#if transform}}data-fa-transform="{{transform}}" {{/if}}>
    </i>
</span>
